<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="testrepository_customtable" id="testrepository_customtable">
			<module before="Magento_Backend" name="Testrepository_CustomTable"/>
		</route>
	</router>
</config>
